#compo {
    //height: 100vh;

    iframe {
        margin: 0 auto;
    }

    .desc {
        font-style: italic;
        margin-bottom: 50px;
    }
    .other-works {
        margin: 20px auto;

        .other-work-item {
            margin-bottom: 50px;
            
            p {
                font-style: italic;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #compo iframe {
        width: 100%;
    }
}

@media screen and (min-width: 2000px) {
    #compo iframe {
        display: block!important;
    }

    #compo .desc {
        text-align: center!important;
    }
}