.not-found {
    height: 100%;
    text-align: center;
}

.not-found .oops {
    font-size: 1.8em;
    margin-bottom: 1rem;
}

.not-found .gif404 {
    margin-bottom: 3rem;
}

.not-found a:hover {
    color: var(--theme-page-hover);
}

@media screen and (max-width: 768px) {
    .not-found {
        height: 60vh;
    }
    
    .not-found .gif404 {
        position: relative;
        top: -6rem;
        margin-top: 0.5rem;
    }

    .not-found .oops {
        margin-top: -8rem;
    }

}