#footer {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding: 5rem 0rem 1rem 0rem;
}

#footer a:hover {
    border-bottom: none;
    padding: 0 1rem;
    color: var(--theme-page-hover);
}