#footer {
    font-size: 0.7rem;
    padding: 3rem 0rem 3rem 0rem;
    text-align: center;
}

#footer #legals span {
    padding: 0 0.5rem;
}

#footer #legals a:hover {
    color: var(--theme-page-hover);
    border-bottom: none;
}

#footer #credits a:hover {
    border-bottom: none;
    padding: 0 1rem;
    color: var(--theme-page-hover);
}