.light {
    --theme-color: #222;
    --theme-page-background: #FFF;
    --theme-page-text: #222;
    --theme-page-hover: #719DD7;
    --theme-button-position: 4px;
}

.dark {
    --theme-color: #fff;
    --theme-page-background: #222;
    --theme-page-text: #fff;
    --theme-page-hover: #F8CE88;
    --theme-button-position: 30px;
}